logs/
node_modules/
**/node_modules/
*.log
.env
.DS_Store
.venv/
*__pycache__/
*.pyc
.vscode/
.idea/
dist/
build/
*.egg-info/
coverage/
htmlcov/
.tox/
.pytest_cache/
.ipynb_checkpoints/
*.sqlite3
*.bak
data/processed/windows
DIY-Muscle-BioAmp-Shield-main/
