# requirements.txt - BCI Project
# Core
django>=5.0
data
daphne>=4.0
channels>=4.0
channels_redis>=4.0
djangorestframework>=3.14
django-cors-headers>=4.0

# Scientific / ML
numpy>=1.24
pandas>=2.0
scipy>=1.10
scikit-learn>=1.2
joblib>=1.3
torch>=2.0
torchvision>=0.15

# EEG Tools
mne>=1.2
neurokit2>=0.2
brainflow>=4.8.0

# Hardware
pyserial>=3.5
pylsl>=1.17.0

# Legacy / Utils
python-dotenv
h5py>=3.8
matplotlib>=3.6
openpyxl>=3.0.0
